#se{
    margin-bottom: 10px; font-size: 2rem; color: #333;
}
#projectsa{
    width: 100%; padding: 60px 0; background-color: white; display: flex; justify-content: center; align-items: center;
}
